<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>liste des étudiants</title>
</head>
<body>
<span th:replace="~{home :: navBar}"></span>
<h1>Liste des étudiants</h1>
<div>
    <ul th:if="${students != null}">
        <li th:each="s : ${students}">
            <span th:text="${s.getNom()} + ' ' + ${s.getPrenom()}"></span>
            <a th:href="@{/templates/recipe/detail/{id}(id=${s.getId()})}">détails</a>
            <a th:href="@{/templates/recipe/update/{id}(id=${s.getId()})}">modifier</a>
            <a th:href="@{/templates/recipe/delete/{id}(id=${s.getId()})}">supprimer</a>
        </li>
    </ul>
</div>
<a th:href="@{/templates/recipe/add}">ajouter un etudiant</a>
</body>
</html>